<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="APO apo Alpha Phi Omega EZ Epsilon Zeta RPI Rensselaer Polytechnic Institute LAF lost and found backtest backtests backexams LFS lfs friendship leadership volunteering">
    <meta name="description" content="Website for the Alpha Phi Omega Epsilon Zeta Chapter at RPI">
    <link rel="author" href="https://rafaelcenzano.com">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon-96x96.png') }}">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0033ab">

    <!-- Andriod Icon -->
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512"  href="{{ url_for('static', filename='img/android-icon-512x512.png') }}">
    <meta name="msapplication-TileColor" content="#0033ab">

    <!-- Facebook -->
    <meta property="og:image" content={{ url_for('static', filename='img/apoez.png') }}>
    <meta property="og:description" content="Website for the Alpha Phi Omega Epsilon Zeta Chapter at RPI">
    <meta property="og:title" content="APO EZ">
    <meta property="og:site_name" content="APO EZ">
    <meta property="og:url" content="APO EZ">

    <!-- Twitter -->
    <meta name="twitter:card" content="Website for the Alpha Phi Omega Epsilon Zeta Chapter at RPI">
    <meta name="twitter:title" content="APO EZ">
    <meta name="twitter:description" content="Website for the Alpha Phi Omega Epsilon Zeta Chapter at RPIs">
    <meta name="twitter:image" content={{ url_for('static', filename='img/apoez.png') }}>
    <meta name="twitter:url" content="APO EZ">

    <!-- Google+ -->
    <meta itemprop="name" content="APO EZ">
    <meta itemprop="description" content="Website for the Alpha Phi Omega Epsilon Zeta Chapter at RPI">
    <meta itemprop="image" content={{ url_for('static', filename='img/apoez.png') }}>

    <!-- Extra Meta Data -->
    {% block meta %}
    {% endblock %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head_css %}
    {% endblock %}

    <!-- JS -->
    {% block head_js %}
    {% endblock %}
    
</head>
<body>
    {% include "navbar.html" %}
    <div id="content">
        {% include "flash.html" %}
        {% block content %}
        {% endblock %}
    </div>
    {% include "footer.html" %}
    <!-- JS -->
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/darkmode.js') }}"></script>-->
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>-->
    {% block trailing_js %}
    {% endblock %}
</body>
</html>